html, body {
  margin: ;
  padding: ;
  background: #bd9e5b;
}
#canvasDiv {
  display: block;
  margin:auto;
  padding: 50px;
}

.factButton {
  padding: 30px;
  font-size: 15px;
  font-family: myFont;
  color: white;
  background-color: #382e1d

}

h1 {
  text-align:center;
}

p {
text-align: center;

}
